# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Data and Models
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
vector_store/*
!vector_store/.gitkeep
training/logs/*
!training/logs/.gitkeep
